#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}
h2 {
    text-align: center;
}
