/* Reset default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    background-color: #8787f0; /* Dark blue */
}

/* Center the content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the heading */
h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

/* Style the paragraph */
p {
    font-size: 18px;
    color: #666;
    text-align: center;
}

/* Add some padding to the container */
.container {
    padding: 20px;
}
html {
    margin: 50px;
    content: 0px;
    padding: auto;
}
h1, h2, h3, h4, h5, h6, p, li, a {
    color: #dbdcf5;
}
#Logo {
    height: 225px;
    width: 225;
    display: inline-block;
    vertical-align: middle;
}
