/* Reset default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    background-color: #ffffff; /* Dark blue */
}

/* Center the content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the heading */
h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

/* Style the paragraph */
p {
    font-size: 18px;
    color: #666;
}

/* Add some padding to the container */
.container {
    padding: 20px;
}
html {
    margin: 50px;
    content: 0px;
    padding: auto;
}
h1, h2, h3, h4, h5, h6, p, a {
    color: #272963;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    overflow: auto;
  }
  ul li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    padding: 14px;
    font-size: 17px;
  }
  ul li a{
  text-decoration: none; 
  cursor: pointer;
  color: rgb(0, 0, 0);
  }
  ul li a:hover {
     background-color: rgb(129, 123, 123);
  }
  #CLICKHERE {
    color: rgb(30, 131, 131);
    text-decoration: none;
  }
  #email {
    text-decoration: none;
  }
