body{
  background: #010418;
  overflow-x: hidden;
}

*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
  z-index: 1;
  user-select: none;
}

section{
  width: 100vw;
  height: 95vh;
}

li{
  padding-left: 5px;
  padding-right: 5px;
}

a{
  cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}