/* FONT IMPORTS & TAILWIND INIT */

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

.poetsen {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* DEFAULTS */

body{
    background: #010418;
    overflow-x: hidden;
}
  
*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    z-index: 1;
    /*user-select: none;*/
}

section{
    width: 100vw;
    height: 95vh;
}

li{
    padding-left: 5px;
    padding-right: 5px;
}

a{
    cursor: pointer;
}

/* MAIN */

#hero{
    /* background: oklch(12% 0.0484 266.71); */
    background: url(/waves.svg);
    height: 820px;
}

.accordion {
    background-color: #060A2C;
    color: aliceblue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    transition: 150ms;
}

.menu {
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
    padding: 18px;
    width: auto;
    transition: 150ms;
}
.menu-list {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    transform: translate(-48vw, 50px);
}


.active, .accordion:hover {
    background-color: #050825; 
}

.panel {
    padding: 0 18px;
    background-color: #060A2C;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    #hero{
        /* background: oklch(12% 0.0484 266.71); */
        background: #010418;
    }
    .accordion {
        padding: 18px;
        width: 90vw;
    }
    .panel {
        width: 90vw;
    }
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #555;
}