/* Reset default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color */
body {
    background-color: darkblue; /* Dark blue */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Center the content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the heading */
h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

/* Style the paragraph */
p {
    font-size: 18px;
    color: #666;
}

/* Add some padding to the container */
.container {
    padding: 20px;
}
html {
    margin: 0px;
    content: 0px;
    padding: auto;
    margin-left: 50px;
    margin-right: 50px;
    scrollbar-width: thin;
    scrollbar-color: darkblue black;
}
h1, h2, h3, h4, h5, h6, p, a {
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.7);  Semi-transparent white */
    justify-content: space-between;
    overflow: auto;
    backdrop-filter: blur(10px); /* Apply blur */
}
ul li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    padding: 14px;
    font-size: 17px;
}
ul li a {
    text-decoration: none; 
    cursor: pointer;
    color: rgb(0, 0, 0);
}
ul li a:hover {
    background-color: rgb(129, 123, 123);
}
#CLICKHERE {
    color: rgb(30, 131, 131);
    text-decoration: none;
}
#email {
    text-decoration: none;
}

body {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    animation: slideIn 2s forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}